@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff4500;
  --secondary: #e32544;
  --tertiary: #f3bba5;
  --accent-pink: #ed6e83;
  --accent-blue: #4F8CE2;
  --accent-green: #3BCB86;
  --accent-yellow: #FFA200;
  --accent-violet: #8E82F6;
  --gdark: #181c1f;
  --ggray: #292c30;

  
  font-family: "Fira Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color: #181c1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
.sbarthin::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.sbarthin::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sbarthin::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}


.underline {
  background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  display: inline-block;
  padding: 0 .2em 0.1em;
  text-decoration: none;
  transition: background-size 0.3s;
}

.underline:hover {
  --underline-width: 100%;
}

.cutelink {
  background-image: linear-gradient(71deg, #c576e48e, #fba6beaa 47%, #fed5a6a3 100%); 
  position: relative;
  color: var(--ggray);
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 0.25rem;
  background-position: 0 110%;
  transition: all 250ms;
  &:hover {
    background-size: 100% 100%;
  }
}





.downicon{
  padding-top: 0px;
  transition: all 0.3s ease-in-out;;
}

.downicon:hover{
  color: var(--primary);
  padding-top: 5px;
}

.gradient-light {
  background-color: #6b7ac6;
  background-image: linear-gradient(71deg, #c576e4, #fba6be 47%, #fed5a6 100%);  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.gradient-dark {
  background-color: #6b7ac6;
  background-image: linear-gradient(71deg, #d67c55 0%, #c559be 47%,  #7848ac 100%);  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.gradient-title {
  background-color: #6b7ac6;
  background-image: linear-gradient(-32deg, #ba273d 15%, #c762c3 57%, #7848ac 90%);  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.gradient-background {
  background-color: #6b7ac6;
  background-image: linear-gradient(-32deg, #ba273d 15%, #c762c3 57%, #7848ac 90%);  
}

.downicon:hover{
  margin-top: 2px;
  transition: margin-top 0.3s;
}

section {
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0%;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-height: 100vh;
}



